@{
    Layout = null;
    var errorStatusCode = ViewBag.ErrorStatusCode as int?;
    var errorType = ViewBag.ErrorType as string;
    var errorMessage = ViewBag.ErrorMessage as string;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - MangaR</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/error.css" rel="stylesheet" />
</head>
<body>
    <div class="layout bg-light">
        <div class="d-flex flex-column gap-3 text-center">
            <h1 class="display-1 fw-bold text-danger">
                @errorStatusCode
            </h1>

            <h5 class="display-5 fw-semibold text-dark">
                @errorType
            </h5>

            <p class="fs-4 text-muted">
                @errorMessage
            </p>

            <div class="d-flex justify-content-center">
                <a href="@Url.Content("~/")" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle"></i> Go Back Home
                </a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
