<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử đọc truyện</title>
    <link href="~/css/\LichSu.css" rel="stylesheet" />
    
</head>
<body>
    <div class="history-container">
        <h2>Lịch sử đọc truyện</h2>
        <div class="tabs">
            <span class="active">Từ thiết bị</span>
            <span>Theo tài khoản</span>
        </div>

        <div class="story-list">
            <div class="story">
                <img src="https://api.mottruyen.vn/api/v1/storage/images/2025-03-02/b88b28d1-679c-42ae-b9f4-c0e24330daf7.webp" alt="truyện 1">
                
                <p class="title">Xuyên không em gái thành bia đỡ đạn</p>
                <p class="chapter">Đọc tiếp Chapter 0 ></p>
            </div>

            <div class="story">
                <img src="https://api.mottruyen.vn/api/v1/storage/images/2025-02-27/01809c65-533e-45d3-a22c-1ef80e36de41.webp" alt="truyện 2">
               
                <p class="title">Nhà môi giới âm dương</p>
                <p class="chapter">Đọc tiếp Chapter 116 ></p>
            </div>

            <div class="story">
                <img src="https://api.mottruyen.vn/api/v1/storage/images/2025-02-18/88900f20-45a9-4ba7-9522-495421fbae83.webp" alt="truyện 3">
                
                <p class="title">Dù rơi vào truyện kinh dị tôi vẫn đi làm</p>
                <p class="chapter">Đọc tiếp Chapter 31 ></p>
            </div>

        </div>
    </div>
</body>
</html>
