@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="border shadow-sm px-3 py-3 bg-white form-container">
        <form id="account" method="post">
            <h5>Đăng nhập</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-input mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control my-input" autocomplete="username" aria-required="true"
                    placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-input mb-3">
                <label asp-for="Input.Password" class="form-label">Password</label>
                <input asp-for="Input.Password" class="form-control my-input" autocomplete="current-password"
                    aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-3 my-button">Đăng
                    nhập</button>
            </div>
            <p class="m-0"> Chưa có tài khoản ? <a class="text-decoration-none" asp-page="./Register"
                    asp-route-returnUrl="@Model.ReturnUrl">Đăng ký</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
