@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="border shadow-sm px-3 py-3 bg-white form-container">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h5>Đăng ký tài khoản</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-input mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control my-input" autocomplete="username" aria-required="true"
                    placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-input mb-3">
                <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
                <input asp-for="Input.Password" class="form-control my-input" autocomplete="new-password"
                    aria-required="true" placeholder="Mật khẩu" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-input mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
                <input asp-for="Input.ConfirmPassword" class="form-control my-input" autocomplete="new-password"
                    aria-required="true" placeholder="Xác nhận mật khẩu" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-3 my-button">Đăng
                ký</button>
            <p class="m-0">Đã có tài khoản ? <a class="text-decoration-none" asp-area="Identity"
                    asp-page="/Account/Login">Đăng nhập</a></p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
