@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="card p-3 rounded-0 shadow-sm d-flex flex-column gap-3">
    <h3>Đổi mật khẩu</h3>

    <partial name="_StatusMessage" for="StatusMessage" />

    <form id="change-password-form" method="post" class="d-flex flex-column gap-3">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="d-flex flex-column flex-md-row">
            <label asp-for="Input.OldPassword" style="max-width: 300px" class="w-100 control-label"></label>
            <div class="d-flex flex-column w-100">
                <input type="password" asp-for="Input.OldPassword" class="form-control" placeholder="Mật khẩu hiện tại" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row">
            <label asp-for="Input.NewPassword" style="max-width: 300px" class="w-100 control-label"></label>
            <div class="d-flex flex-column w-100">
                <input type="password" asp-for="Input.NewPassword" class="form-control" placeholder="Mật khẩu mới" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row">
            <label asp-for="Input.ConfirmPassword" style="max-width: 300px" class="w-100 control-label"></label>
            <div class="d-flex flex-column w-100">
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu mới" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row">
            <div style="max-width: 300px" class="w-100"></div>
            <div class="d-flex flex-column flex-sm-row gap-2 mt-2 mt-md-0">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Quay lại</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
