body {
    background-color: #222;
    color: white;
}

#sideBarToggler{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.side-bar {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: #333;
    height: 100vh;
    padding: 14px 20px 20px 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.side-bar h3 {
    text-align: center;
    margin-bottom: 20px;
}

.side-bar a {
    display: flex;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #444;
    color: white;
}

.side-bar a:hover {
    background: #ffc107;
    color: black;
}

.my-nav-bar {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 260px);
    right: 0;
    height: 64px;
    background-color: #333;
    top: 0;
    transition: 0.3s;
    z-index: 998;
}

.contents {
    margin-top: 74px;
    margin-bottom: 24px;
    margin-left: 260px;
    transition: 0.3s;
    padding: 0px 24px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 997; 
    display: none;
}

.side-bar.collapsed {
    transform: translateX(-100%);
}

.side-bar.collapsed~.my-nav-bar {
    width: 100%;
}

.side-bar.collapsed~.contents {
    margin-left: 0;
}

@media (max-width: 768px){
    .contents {
        margin-left: 0;
        transition: 0.3s;
    }

    .my-nav-bar{
        width: 100%;
    }

    .side-bar {
        transform: translateX(-100%);
    }

    .side-bar.show {
        transform: translateX(0);
    }
}