@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card p-3 rounded-0" style="max-width: 500px; width: 100%">
    <a href="/" class="text-decoration-none text-center mb-3 p-0"><h1 class="p-0 m-0">MANGAR</h1></a>
    <form method="post">
        <h5 class="text-center">Quên mật khẩu</h5>
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger p-0 m-3" role="alert">
        </div>
        <p class="text-center mb-4">
            Vui lòng nhập địa chỉ email của bạn bên dưới. Chúng tôi sẽ gửi cho bạn
            liên kết để đặt lại mật khẩu
        </p>
        <div class="form-input mb-3">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input asp-for="Input.Email" class="form-control my-input" autocomplete="username" aria-required="true"
                   placeholder="example@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="w-100 btn btn-primary mb-3 my-button">
            Đặt lại mật khẩu
        </button>

        <p class="m-0">
            Đã nhớ mật khẩu ? <a class="text-decoration-none" asp-page="./Login">Đăng nhập</a>
        </p>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
