@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mất khẩu";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card p-3 rounded-0" style="max-width: 500px; width: 100%">
    <a href="/" class="text-decoration-none text-center mb-3 p-0"><h1 class="p-0 m-0">MANGAR</h1></a>
    <h5 class="text-center">ĐẶT LẠI MẬT KHẨU THÀNH CÔNG</h5>
    <hr />
    <p class="text-center mb-4">
        Mật khẩu của tại khoản bạn đã được đặt lại thành công, bạn có thể dùng mật khẩu mới để đăng nhập
    </p>

    <a asp-area="Identity" asp-page="/Account/Login" class="w-100 btn btn-primary mb-3 my-button">
        Đến đăng nhập
    </a>
</div>