@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Đăt lại mật khẩu";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card p-3 rounded-0 shadow-sm" style="max-width: 500px; width: 100%">
    <a href="/" class="text-decoration-none text-center mb-3 p-0"><h1 class="p-0 m-0">MANGAR</h1></a>
    <form method="post">
        <h5 class="text-center">Đặt lại mật khẩu</h5>
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>
        <input asp-for="Input.Code" type="hidden" />
        <input asp-for="Input.UserId" type="hidden" />

        <div class="form-input mb-3">
            <label asp-for="Input.Password" class="form-label"></label>
            <input asp-for="Input.Password" class="form-control my-input" autocomplete="new-password"
                   aria-required="true" placeholder="Mật khẩu" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-input mb-3">
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control my-input" autocomplete="new-password"
                   aria-required="true" placeholder="Xác nhận mật khẩu" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="w-100 btn btn-primary">
            Xác nhận đặt lại mật khẩu
        </button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
