<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Tài Khoản</title>
    <link href="~/css/TaiKhoan.css" rel="stylesheet" />
</head>
<body>


    <div class="logout">
        <a href="#">Đăng Xuất</a>
    </div>



    <!-- Thông tin tài khoản -->
    <div class="container">
        <div class="profile-card">
            <div class="profile-header">
                <img src="avatar.png" alt="Avatar" class="avatar">
                <h2 id="username">Vũ Thị Thanh Nhàn</h2>
            </div>
            <div class="profile-info">
                <p><strong>Email:</strong> <span id="email">minphilieng@gmail.com</span></p>
            </div>
        </div>
    </div>
</body>
</html>

